html {
  background-color: #e1e2e1;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container>div {
  display: inline-block;
  padding: 1em;
  /* border: 2px solid #f00; */
}

.smallBar {
  height: 5px;
  width: 100%;
  background-color: #000a12;
}

.header {
  text-align: center;
  justify-content: center;
  height: 25px;
  width: 100%;
  background-color: #263238;
}

#europeMap {
  width:50%;
}

.dataGroup{
flex:1;
align-items: center;
justify-content: center;
}

h1 {
  /* font-size: 30px; */
  font-family: "Bookman Old Style";
  color: white;
  margin-top: 1px;
}

.buttonDiv{
  margin-left:100px;
}

button{
  font-size: 24px;
  margin: 0 auto;
  border-radius: 5px;
  background-color:#263238;
  color:white;
}

#yearsSelected {
  font-family: "Bookman Old Style";
  font-size: 20px;
  font-weight: bold;
}

/* .country {
  fill: rgba(8, 81, 156, 0.6);
  stroke: rgba(8, 81, 156, 0.2);
  stroke-width: 1px;
} */

.country {
  fill: rgba(8, 81, 156, 0.6);
  stroke: rgba(8, 81, 156, 0.2);
  stroke-width: 1px;
}
